body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.avatar{
width: 96px;
height: 96px; 
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.avtr-rounded img{
border-radius: 10px;
}

.avtr-circle img{
    border-radius: 50%;
}

.avtr-ring{
    border: 3px solid blue;
    border-radius: 50%;
}
.avtr-ring img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.avatar-online,.avatar-offline{
  position: relative;
  display: inline-block;
}
.avatar-online span {
  position: absolute;
  right: 5px;
  width: 15px;
  height: 15px;
  background-color: #4ade80;
  border: 2px solid white;
  border-radius: 50%;
}
.avatar-offline span{
     position: absolute;
  right: 5px;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  background-color:rgb(255, 255, 255);
}