.heloo{
   position: static; 
   border: 2px solid;
}
body{
    border: 2px solid;
    height: 90vh;
    width: 90vw;
}
.realative{
    padding: 20px;
    background-color: red;
position: relative;
top:20px;
}

.container{
    width: 200px;
    border: 2px solid;
    height: 400px;
    position: relative;
}
.absolute{
    padding: 30px;
    background-color: green;
    position: absolute;
    bottom: 0px;
}