.heloo{
   position: static; 
   border: 2px solid;
}
body{
    border: 2px solid;
    height: 300vh;
    width: 90vw;
}
.realative{
    padding: 20px;
    background-color: red;
position: relative;
top:20px;
}

.container{
    width: 200px;
    border: 2px solid;
    height: 400px;
    position: relative;
}
.absolute{
    padding: 30px;
    background-color: green;
    position: absolute;
    bottom: 0px;
}

.fixed{
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    border: 2px solid ;
    background-color: blueviolet;
    border-radius: 10px;
}
.sticky{
    position: sticky;
    top: 0px;
    padding: 20px;
    border-radius: 10px ;
    background-color: skyblue;
    text-align: center;

}