.tooltip {
  position: relative;
  display: inline-block;  
  margin-top: 20px;  
}

.btn {
  padding: 8px 16px;
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.wow{
    color: coral !important;
}
.force-open{
visibility: visible !important;
}
