.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.btn {
  padding: 8px 16px;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.wow {
  color: coral !important;
}
.force-open {
  visibility: visible !important;
}

/* bottom */
.tooltip-bottom,
.tooltip-left,
.tooltip-right {
  position: relative;
  display: inline-block;
}
.common {
  background: black;
  color: wheat;
  width: 80px;
  padding: 5px 0;
  text-align: center;
  border-radius: 10px;
}
.tooltip-bottom .tooltip-text {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip-left .tooltip-text {
  position: absolute;
  top: 0%;
  right: 100%;
}
.tooltip-right .tooltip-text {
  position: absolute;
  top: 0%;
  left: 100%;
}

.neutral-color .tooltip-text,
.primary-color .tooltip-text,
.secoundary-color .tooltip-text,
.accent-color .tooltip-text,
.info-color .tooltip-text{
  /* visibility: visible !important; */
}
.neutral-color .btn {
  background-color: black;
  color: white;
}
.primary-color .btn,
.primary-color .tooltip-text {
  background-color: oklch(58% 0.233 277.117);
  color: white;
}
.secoundary-color .btn,
.secoundary-color .tooltip-text {
  background-color: oklch(65% 0.241 354.308);
  color: white;
}
.accent-color .btn,.accent-color .tooltip-text{
    background-color: oklch(77% .152 181.912);
    color: black;
}
.info-color .btn,.info-color .tooltip-text{
    background-color: oklch(74% .16 232.661);
    color: black;
}
.success-color .btn,.success-color .tooltip-text{
  background-color: oklch(76% .177 163.223);
  color: black;
}

.warning-color .btn,.warning-color .tooltip-text{
  background-color: oklch(82% .189 84.429);
  color: black;
}
.error-color .btn,.error-color .tooltip-text{
  background-color:oklch(71% .194 13.428);
  color: black;
}